	
	</div>


	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$('ul.nav > li > a').parent().removeClass('active');
		$('ul.nav > li > a[href="' + document.location.pathname + '"]').parent().addClass('active');
	</script>
</body>
<footer class="footer">
	© Copyright 2016 Yuewen Yue
	</footer>
</html>
	
		