<%- include header %>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Freego</h1>
    <p style="padding-top:10px">Mission, Vission & Values</p>
  </div>
</div>

<div class="container text-center">
<form class="form-inline margin">Get deals:
    <input type="text" class="form-control" size="50" placeholder="Search">
     <button type="button" class="btn btn-info">
    <span class="glyphicon glyphicon-search"></span>
  </button>
  </form>
  </div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
     <div class="hovereffect">
      <img src="/images/bedroom.jpg" class="img-responsive" style="width:100%;height:250px" alt="Image">
        <div class="overlay">
           <h2>BEDROOM</h2>
           <a class="info" href="#">find more</a>
        </div>
    </div>
    </div>
    <div class="col-sm-4">
         <div class="hovereffect">
      <img src="/images/living.jpg" class="img-responsive" style="width:100%;height:250px" alt="Image">
        <div class="overlay">
           <h2>LIVINGROOM</h2>
           <a class="info" href="#">find more</a>
        </div>
        </div>
    </div>
    <div class="col-sm-4">
         <div class="hovereffect">
      <img src="/images/kitchen.jpg" class="img-responsive" style="width:100%;height:250px" alt="Image">
        <div class="overlay">
           <h2>KITCHEN</h2>
           <a class="info" href="#">find more</a>
        </div>
        </div>
    </div>
  </div>
</div><br>

<div>
 <a class="form-signup-heading" href="/index">ALL POSTS </a>
 </div>

<%- include footer %>